@charset "utf-8";

header{
  min-width: 100%;
  background-color: red;
  overflow: hidden;

}

header div {
  display: flex;
  justify-content: space-between;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/ 

nav {
  text-align: right;

}

nav ul{
  list-style: none;
  font-size: 0;

}

nav ul li {
  display: inline;
  cursor: default;
}

nav ul li a {
  font-size: 17px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
  padding: 15px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  margin-left: 25px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/ 
.title {
  height: 56px;
}
.title h1 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  line-height: 56px;
  text-transform: uppercase;
}

.title-f{
  height: 168px;
}
.title-f p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 168px;
  text-transform: uppercase;
}


/*----------------------------------*/ 
/* hero banner                           */ 
/*----------------------------------*/ 

.hero-banner {
  color: black;
  height: 800px;
  background:white url("../img/hero.jpg") center center / cover no-repeat fixed;
  text-align: center;
  display: flex;
  align-items: center;
}
.hero-banner h2 {
  font-size: 46px;
  font-weight: 600;
  color: white;
}

.hero-banner h3{
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.hero-banner hr{
  width: 70px;
  margin-top: 22px;
  margin: 0 auto;
  border-top: 3px solid #ffff;
}

.hero-banner p{
  margin-top: 24px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  
}



.overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 555;
}

/*//////////////////////////////////////////////////////////////////*/

footer{
  min-width: 100%;
  background-color: lightgrey;
  overflow: hidden;
}

footer{
  display: flex;
  justify-content: space-between;
}

.end{
  height: 56px;
  text-align: right;
}

.end p{
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 110px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

#footernav {
  text-align: left;
  height: 56px;
}

#footernav ul{
  list-style: none;
  font-size: 0px;
}

#footernav ul li{
  display: inline;
  line-height: 56px;
  cursor: default;
  margin: 10px;
}

#footernav ul li a {
  font-size: 40px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
}

#footernav ul + li a:hover {
  margin-left: 25px;
}


/*///////////////////////////////////////////////**/

#footernav2 {
  text-align: center;
  height: 30px;
}

#footernav2 ul{
  list-style: none;
  font-size: 0px;
}

#footernav2 ul li{
  display: inline;
  line-height: 56px;
  cursor: default;
  margin: 10px;
}

#footernav2 ul li a {
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .2px;
  text-transform: none;
  cursor: pointer;
}

#footernav ul + li a:hover {
  margin-left: 25px;
}